.dashboard-container {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.dashboard-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.dashboard-container button {
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    background-color: #e94560;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-container button:hover {
    background-color: #d72345;
}

body {
    /* background-image: url('../../assets/bg.jpg');  <-- kaldırdık */

    /* Grandient arka plan */
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: aliceblue;
    gap: 10px;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #fff;
}